:root {
    --dark: #3F2E3E;
    --darker: #191919;
    --darkest: #0F0F0F;
    --grey: #7F8487;
    --light: #F1EAFF;
    --pink: #F875AA;
    --purple: #9376E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', 'sans-serif';
}

body {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#input-wrapper {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#input-txt {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1.25rem;
}

#input-txt ::placeholder {
    color: var(--grey);
}

#input-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#input-submit:hover {
    opacity: 0.6;
}

#input-submit:active {
    opacity: 0.6;
}

main {
    display: flex;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
    flex: 1 1 0%;
}

section {
    width: 100%;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

.task {
    display: flex;
    justify-content: space-between;
    background: var(--darkest);
    padding: 12px 5px;
    border-radius: 10px;
    margin: 20px 0;
}

.content {
    margin-left: 10px;
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 500;
}

.text {
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 500;
}

.edit,
.delete {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.edit {
    margin-right: 30px;
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.delete {
    margin-right: 10px;
    background: #d32f2f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}